<!DOCTYPE html>
<html>
  <head>
    <title>Download</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="main.css" rel="stylesheet">
  </head>
  <body class="text-center">
  	<div class="col-sm-6 col-md-4 col-md-offset-4">
	  	<h1>File Converted!</h1>
		<a href="/downloadfile"><button class="btn btn-primary">Donwload</button></a>
		<a href="/userhistory"><button class="btn btn-primary">My Files</button></a>
    <a href="/index"><button class="btn btn-primary">Return</button></a>
	</div>
</html>